.otp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88vh;
  width: 100vw;
  color: white;
}

.otp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 700px;
  box-shadow: -6px 5px 5px -2px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: -6px 5px 5px -2px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: -6px 5px 5px -2px rgba(0, 0, 0, 0.7);
}

.otp-title {
  padding: 0;
  margin: 0;
}

.otp-code-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.otp-input {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.otp-input:focus {
  border: 1px solid #007bff;
}

.otp-submit {
  margin: 1rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.otp-submit:hover {
  background-color: #0056b3;
}

@media (max-width: 767px) {
  .otp-container {
    height: 400px;
    width: 330px;
    text-align: center;
  }
}
